@page "/"
@page "/home"
@page "/home/index"

<div class="page-home-index text-align-center">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td @onclick="OnVaqReqIndexClick">
                    @TextResources.APP_StringKeys_VacReq_Index
                </td>
            </tr>
        </tbody>
    </table>
</div>