@page "/"
@page "/home"
@page "/home/index"

<div class="page-home-index text-align-center">
    <table class="table table-bordered">
        <tbody>
           
            <tr>
                <td @onclick="OnWorkingSearchClick">
                    @TextResources.APP_StringKeys_WorkingReport_Search
                </td>
            </tr>
        </tbody>
    </table>
</div>