@namespace Avhrm.UI.Shared
@inherits LayoutComponentBase

<div class="app-all-container k-rtl">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
