@namespace Avhrm.UI.Shared
@inherits LayoutComponentBase

<MudRTLProvider RightToLeft="true">
    <MudThemeProvider />

    <MudLayout>
        <MudMainContent>
            <div class="app-all-container k-rtl">
                <main>
                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </div>
        </MudMainContent>
    </MudLayout>
</MudRTLProvider>