.app-all-container {
    max-width: 500px;
    margin: 0 auto;
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: env(safe-area-inset-bottom); 
}

@media screen and (max-width: 768px) {
    .app-all-container {
        height: 100vh; 
        padding: 0 10px; 
    }
}

.text-align-right {
    text-align: right !important;
}

.text-align-center {
    text-align: center !important;
}

.text-align-left {
    text-align: left !important;
}

.text-dir-right {
    direction: rtl !important
}

.text-dir-left {
    direction: ltr !important;
}

.message-top{
    top:0px;
    height:30px;
}

.page-footer {
    bottom: 0;
    width: 450px;
    height: 50px;
    border: solid 1px #d9d5cc;
    position: absolute;
    background-color: #f5f2e9;
    border-radius: 5px;
    border-bottom: none;
    padding-top: 5px;
}

.page-header {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    max-width: 450px;
    height: 35px;
    border: solid 1px #d9d5cc;
    position: absolute;
    background-color: rgba(25, 118, 210);
    border-radius: 5px;
    padding-top: 5px;
    text-align: center;
    color:white;
    margin-bottom: 10px;
}


.mud-main-content{
    padding-top: unset !important;
}

.floating-button {
    position: fixed;
    top: 5px;
    right: 16px;
    width: 40px;
    height: 40px;
    background-color: #1976d2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: #1565c0;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }
}

.floating-button-left {
    position: fixed;
    top: 5px;
    left: 16px;
    width: 40px;
    height: 40px;
    background-color: #1976d2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: #1565c0;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }
}

.page-floating-button {
    position: fixed;
    bottom: 16px;
    left: 50%; 
    transform: translateX(-50%); 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: #1565c0;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }
}