@page "/account/login"

<EditForm Model="Request"
          OnSubmit="OnValidSubmit">
          <label>Username:</label>
          <InputText @bind-Value="Request.Username"></InputText>
          <label>Password:</label>
          <InputText @bind-Value="Request.Password"></InputText>
          <button type="submit">submit</button>
</EditForm>