@page "/account/login"

<div class="pages-account-login text-align-center">
    @if (IsMessageShown)
    {
        <MudAlert Severity="Severity.Error"
                  Variant="Variant.Filled"
                  Class="rounded-0"
                  ShowCloseIcon="true"
                  CloseIconClicked="()=> IsMessageShown = false">
            <ul>
                @foreach (var text in MessageTexts)
                {
                    <li>
                        @text
                    </li>
                }
            </ul>
        </MudAlert>
    }
    <EditForm Model="Request"
              OnValidSubmit="OnValidSubmit"
              OnInvalidSubmit="OnInvalidSubmit">
        <DataAnnotationsValidator />
        <div class="form-group">
            <MudTextField @bind-Value="Request.Username"
                          Label="@TextResources.APP_StringKeys_Account_Username"
                          Variant="Variant.Outlined"
                          Margin="Margin.Dense">
            </MudTextField>
        </div>
        <div class="form-group">
            <MudTextField @bind-Value="Request.Password"
                          Label="@TextResources.APP_StringKeys_Account_Password"
                          Variant="Variant.Outlined"
                          Margin="Margin.Dense"
                          InputType="InputType.Password">
            </MudTextField>
        </div>
        <button class="btn btn-primary page-floating-button-bottom"
                    type="submit">
                <MaterialIcon IconName="@MaterialIconsHelper.Login"></MaterialIcon>
            </button>
        
    </EditForm>
    <MudOverlay Visible="IsLoading"
                DarkBackground="true">
        @TextResources.APP_StringKeys_Loading
        <MudProgressCircular Color="Color.Primary"
                             Size="Size.Large"
                             Indeterminate="true" />
    </MudOverlay>
</div>
