@page "/workingreport/search"

<div class="page-header text-align-center">
    @TextResources.APP_StringKeys_WorkingReport_Search
</div>
<div class="pages-workingreport-search text-align-center">
    <div class="search-box">
        <label>@TextResources.APP_StringKeys_Date:</label>
        <InputText class="form-input" @bind-Value="Request.Date"></InputText>
        <button typ> </button>
    </div>
</div>
<div class="page-footer text-align-center">
    <NavLink href="/workingreport/add"
             Match="NavLinkMatch.All"
             class="btn btn-success">
        <MaterialIcon IconName="@MaterialIconsHelper.Add"></MaterialIcon>
    </NavLink>
    <NavLink href="/"
             Match="NavLinkMatch.All"
             class="btn btn-success">
        <MaterialIcon IconName="@MaterialIconsHelper.Arrow_back_ios_new"></MaterialIcon>
    </NavLink>
</div>